In [1]:
import pandas as pd
from datetime import date
import numpy as np

In [11]:
pd.set_option('display.max_columns', 40)

In [31]:
#same title as old data
df_pot_insp_sum = pd.read_csv('potential_inspection_summary_data.csv')
df_pot_vio_det = pd.read_csv('potential_violation_details_data.csv')

df_insp_sum = pd.read_csv('inspection_summary_data.csv')
df_vio_details = pd.read_csv('violations_details_data.csv')

df_pot_insp_id = pd.read_csv('potential_inspection_ids.csv')
df_scrapped_ins = pd.read_csv('scraped_inspection_links.csv')

In [28]:
#1
df_pot_insp_sum.head()

,inspection_id,establishment_name,address,telephone,email,inspection_date,inspection_time_in,inspection_time_out,license_holder,license_number,license_period_start,license_period_end,establishment_type,risk_category,inspection_type,total_violations,priority_violations,priority_violations_corrected_on_site,priority_violations_repeated,priority_foundation_violations,priority_foundation_violations_corrected_on_site,priority_foundation_violations_repeated,core_violations,core_violations_corrected_on_site,core_violations_repeated,critical_violations,critical_violations_corrected_on_site,critical_violations_repeated,noncritical_violations,noncritical_violations_corrected_on_site,noncritical_violations_repeated,inspector_comments,inspector_name,inspector_badge_number,known_valid
0,1,Tigani Hair Boutique,"2130 P ST NW WASHINGTON, DC 20037",(202) 466-2626,NaN,2009-01-29,NaN,NaN,Tigani P Street LLC,09202xxxx-67003480,2013-06-01,2015-05-31,Beauty Shop,2.0,Routine,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,False
1,2,Chevy Chase Arcade Barber Shop,"5520 CONNECTICUT AVE NW WASHINGTON, DC 20015",NaN,NaN,2008-09-26,NaN,NaN,Chevy Chase Arcade Barber Shop,NaN,NaN,NaN,Barber Shop,NaN,Routine,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NF,NaN,False
2,3,Chevy Chase Arcade Barber Shop,"5520 CONNECTICUT AVE NW WASHINGTON, DC 20015",NaN,NaN,2008-11-20,NaN,NaN,Chevy Chase Arcade Barber Shop,NaN,NaN,NaN,Barber Shop,NaN,Follow-up,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NF,NaN,False
3,4,Chevy Chase House,"1845 M ST NE WASHINGTON, DC 20002",(202) 686-0045,NaN,2009-02-18,NaN,NaN,Chevy Chase House,NaN,2011-05-20,2011-06-20,Restaurant Total,3.0,Other,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,AG,NaN,False
4,5,SALINA RESTAURANT,"1936 9TH ST NW WASHINGTON, DC 20001",(202) 299-0511,terfneh.kahsay@gmail.com,2009-09-18,NaN,NaN,Salina Corporation,09313xxxx-12000109,2009-09-01,2011-08-31,Restaurant Total,2.0,Preoperational,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,CB,NaN,False

In [29]:
#2
df_pot_vio_det.head()

,inspection_id,violation_number,violation_description,violation_text,dcmr_25_code
0,292,45,"Food and nonfood-contact surfaces cleanable, p...","Dirty cabinets, in storage area.",1700.1
1,292,53,"Physical facilities: installed, maintained, & ...","DIRTY FLOORS,LITERS IN SERVICE AREA",2900.1
2,485,21,Proper date marking & disposition,FOOD IN WALK IN NOT LABELED AS TO DATE OF PREP...,1007.1
3,485,34,Thermometers provided & accurate,THERMOMETERS NOT IN ALL COOLING UNITS PROVIDE ...,1510.1
4,485,49,Plumbing installed; proper backflow devices,NON FUNCTIONING HAND SINK IN KITCHEN(CORRECT V...,2401.1

In [27]:
#3
#inspections range from july 2014 - nov 2017
df_insp_sum.head()

,inspection_id,establishment_name,inspection_date,license_number,total_violations,priority_violations,priority_violations_corrected_on_site,priority_violations_repeated,priority_foundation_violations,priority_foundation_violations_corrected_on_site,priority_foundation_violations_repeated,core_violations,core_violations_corrected_on_site,core_violations_repeated,critical_violations,critical_violations_corrected_on_site,critical_violations_repeated,noncritical_violations,noncritical_violations_corrected_on_site,noncritical_violations_repeated,inspector_comments
0,833404,WASH & SHINE CAR WASH,2016-11-17,09306xxxx-69008199,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Restoration inspection passed. Business licens...
1,832794,WASH & SHINE CAR WASH,2016-10-24,09306xxxx-69008199,2,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,SUMMARY SUSPENSION for operating with no hot w...
2,607675,WASH & SHINE CAR WASH,2015-02-06,09306xxxx-69008199,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,Correct items within 45 days as stated. If you...
3,832030,##### -Vendor-SPUD NATION-TRUCK,2016-09-21,NaN,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,- No written procedure to respond to vomiting ...
4,833949,#####-Vendor-50/50 PIZZA-TRUCK,2016-12-07,NaN,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,- Standing violations from inspection conducte...

In [ ]:
#4
df_vio_details.head()

In [21]:
#5
#902,000+ inspection_ids
df_pot_insp_id.head()

   appears_real  data_extracted date_downloaded  inspection_id  was_live
0           NaN           False        09/16/17              1      True
1           NaN           False        09/16/17              2      True
2           NaN           False        09/16/17              3      True
3           NaN           False        09/16/17              4      True
4           NaN           False        09/16/17              5      True

In [30]:
#6
df_scrapped_ins.head()

,data_extracted,date_downloaded,inspection_id,link
0,True,7/8/17,833404,https://dc.healthinspections.us/webadmin/dhd_4...
1,True,7/8/17,832794,https://dc.healthinspections.us/webadmin/dhd_4...
2,True,7/8/17,607675,https://dc.healthinspections.us/webadmin/dhd_4...
3,True,7/8/17,832030,https://dc.healthinspections.us/webadmin/dhd_4...
4,True,7/8/17,833949,https://dc.healthinspections.us/webadmin/dhd_4...